@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.recursiveDropdownContainer {
  .dropdown {
    li {
      transition: all 0.9s ease;

      &:hover {
        transform: scale(1.02);
        background-color: mix($compass-blue, #fff, 80%); // Replace $primaryColor with your primary color variable

        .categoryTitle, .item {
          animation: pulse 3s infinite;
        }
      }
    }

    .nested {
      animation: slideDown 0.4s ease-out;
    }

    .indicator {
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(90deg);
      }
    }

    .statusIcon {
      svg {
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
      }
    }
  }
}
