@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* --foreground-rgb: 0, 0, 0; /* Dark Gray for text */
  /* --background-start-rgb: 102, 51, 153; /* Darkened Princeton Orange */
  /* --background-end-rgb: 51, 51, 51; /* Softened Black */
  /* --system-text-color: #d9d9d9; /* Light Gray */
  --foreground-rgb: 224, 224, 224; /* Soft White for text */
  --background-start-rgb: 18, 18, 18; /* Near Black */
  --background-end-rgb: 30, 30, 30; /* Dark Gray */
  --system-text-color: #fafafa; /* Soft Blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 224, 224, 224; /* Soft White for text */
    --background-start-rgb: 18, 18, 18; /* Near Black */
    --background-end-rgb: 30, 30, 30; /* Dark Gray */
    --system-text-color: #fafafa; /* Soft Blue */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@keyframes cascadeFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cascade-animation {
  animation: cascadeFadeIn 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.columns-1 {
  column-count: 1;
}
.columns-2 {
  column-count: 2;
}
.columns-3 {
  column-count: 3;
}
.columns-4 {
  column-count: 4;
}

.modal-backdrop {
  opacity: 0;
  animation: backdropFadeIn 0.4s ease forwards;
}

.modal-entrance {
  opacity: 0;
  transform: scale(0.95);
  animation: modalEntrance 0.4s ease forwards;
}

/* TODO: Double check if this is needed */
@keyframes backdropFadeIn {
  to {
    opacity: 1;
  }
}

@keyframes modalEntrance {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
