.Action {
  padding: 8px;
  cursor: var(--cursor, pointer);
  border-radius: 5px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.Action svg {
  display: block;
  margin: auto;
  overflow: visible;
  fill: #919eab;
}

@media (hover: hover) {
  .Action:hover {
    background-color: var(--action-background, rgba(0, 0, 0, 0.05));
  }

  .Action:hover svg {
    fill: #6f7b88;
  }
}

.Action:active {
  background-color: var(--background, rgba(0, 0, 0, 0.05));
}

.Action:active svg {
  fill: var(--fill, #788491);
}

.Action:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px rgba(255, 255, 255, 0),
    0 0px 0px 2px #4c9ffe;
}
